@font-face {
  font-family: 'font-sunder';
  src: url('../font/font-sunder.eot?49898900');
  src: url('../font/font-sunder.eot?49898900#iefix') format('embedded-opentype'),
       url('../font/font-sunder.woff2?49898900') format('woff2'),
       url('../font/font-sunder.woff?49898900') format('woff'),
       url('../font/font-sunder.ttf?49898900') format('truetype'),
       url('../font/font-sunder.svg?49898900#font-sunder') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'font-sunder';
    src: url('../font/font-sunder.svg?49898900#font-sunder') format('svg');
  }
}
*/
 
 [class^="s-ico-"]:before, [class*=" s-ico-"]:before {
  font-family: "font-sunder";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.s-ico-flight:before { content: '\e800'; } /* '' */
.s-ico-sun-inv:before { content: '\e801'; } /* '' */
.s-ico-ok:before { content: '\e802'; } /* '' */
.s-ico-cancel:before { content: '\e803'; } /* '' */
.s-ico-check:before { content: '\e804'; } /* '' */
.s-ico-hourglass:before { content: '\e805'; } /* '' */
.s-ico-basket:before { content: '\e806'; } /* '' */
.s-ico-water:before { content: '\e807'; } /* '' */
.s-ico-emo-happy:before { content: '\e808'; } /* '' */
.s-ico-emo-wink:before { content: '\e809'; } /* '' */
.s-ico-emo-unhappy:before { content: '\e80a'; } /* '' */
.s-ico-emo-sleep:before { content: '\e80b'; } /* '' */
.s-ico-emo-thumbsup:before { content: '\e80c'; } /* '' */
.s-ico-emo-devil:before { content: '\e80d'; } /* '' */
.s-ico-emo-surprised:before { content: '\e80e'; } /* '' */
.s-ico-emo-tongue:before { content: '\e80f'; } /* '' */
.s-ico-emo-coffee:before { content: '\e810'; } /* '' */
.s-ico-emo-sunglasses:before { content: '\e811'; } /* '' */
.s-ico-emo-displeased:before { content: '\e812'; } /* '' */
.s-ico-emo-wink2:before { content: '\e813'; } /* '' */
.s-ico-emo-beer:before { content: '\e814'; } /* '' */
.s-ico-fast-food:before { content: '\e815'; } /* '' */
.s-ico-emo-grin:before { content: '\e816'; } /* '' */
.s-ico-emo-angry:before { content: '\e817'; } /* '' */
.s-ico-emo-saint:before { content: '\e818'; } /* '' */
.s-ico-emo-cry:before { content: '\e819'; } /* '' */
.s-ico-emo-shoot:before { content: '\e81a'; } /* '' */
.s-ico-emo-squint:before { content: '\e81b'; } /* '' */
.s-ico-emo-laugh:before { content: '\e81c'; } /* '' */
.s-ico-note-beamed:before { content: '\e81d'; } /* '' */
.s-ico-search:before { content: '\e81e'; } /* '' */
.s-ico-email:before { content: '\e81f'; } /* '' */
.s-ico-mail:before { content: '\e820'; } /* '' */
.s-ico-mail-1:before { content: '\e821'; } /* '' */
.s-ico-droplet:before { content: '\e822'; } /* '' */
.s-ico-database:before { content: '\e823'; } /* '' */
.s-ico-food-1:before { content: '\e824'; } /* '' */
.s-ico-dr-dayna:before { content: '\e825'; } /* '' */
.s-ico-star-empty:before { content: '\e826'; } /* '' */
.s-ico-star:before { content: '\e827'; } /* '' */
.s-ico-heart-empty:before { content: '\e828'; } /* '' */
.s-ico-heart:before { content: '\e829'; } /* '' */
.s-ico-music:before { content: '\e82a'; } /* '' */
.s-ico-leaf:before { content: '\e82b'; } /* '' */
.s-ico-left-open:before { content: '\e82c'; } /* '' */
.s-ico-right-open:before { content: '\e82d'; } /* '' */
.s-ico-spin1:before { content: '\e830'; } /* '' */
.s-ico-spin2:before { content: '\e831'; } /* '' */
.s-ico-spin3:before { content: '\e832'; } /* '' */
.s-ico-spin4:before { content: '\e834'; } /* '' */
.s-ico-spin5:before { content: '\e838'; } /* '' */
.s-ico-spin6:before { content: '\e839'; } /* '' */
.s-ico-firefox:before { content: '\e840'; } /* '' */
.s-ico-chrome:before { content: '\e841'; } /* '' */
.s-ico-opera:before { content: '\e842'; } /* '' */
.s-ico-ie:before { content: '\e843'; } /* '' */
.s-ico-crown:before { content: '\e844'; } /* '' */
.s-ico-crown-plus:before { content: '\e845'; } /* '' */
.s-ico-crown-minus:before { content: '\e846'; } /* '' */
.s-ico-marquee:before { content: '\e847'; } /* '' */
.s-ico-mail-alt:before { content: '\f0e0'; } /* '' */
.s-ico-food:before { content: '\f0f5'; } /* '' */
.s-ico-github-1:before { content: '\f113'; } /* '' */
.s-ico-star-half-alt:before { content: '\f123'; } /* '' */
.s-ico-css3:before { content: '\f13c'; } /* '' */
.s-ico-apple:before { content: '\f179'; } /* '' */
.s-ico-android:before { content: '\f17b'; } /* '' */
.s-ico-reddit:before { content: '\f1a1'; } /* '' */
.s-ico-reddit-squared:before { content: '\f1a2'; } /* '' */
.s-ico-steam:before { content: '\f1b6'; } /* '' */
.s-ico-steam-squared:before { content: '\f1b7'; } /* '' */
.s-ico-cc-visa:before { content: '\f1f0'; } /* '' */
.s-ico-cc-mastercard:before { content: '\f1f1'; } /* '' */
.s-ico-cc-discover:before { content: '\f1f2'; } /* '' */
.s-ico-cc-amex:before { content: '\f1f3'; } /* '' */
.s-ico-cc-paypal:before { content: '\f1f4'; } /* '' */
.s-ico-cc-stripe:before { content: '\f1f5'; } /* '' */
.s-ico-github:before { content: '\f300'; } /* '' */
.s-ico-github-circled:before { content: '\f301'; } /* '' */
.s-ico-flickr:before { content: '\f303'; } /* '' */
.s-ico-flickr-circled:before { content: '\f304'; } /* '' */
.s-ico-vimeo:before { content: '\f306'; } /* '' */
.s-ico-vimeo-circled:before { content: '\f307'; } /* '' */
.s-ico-twitter:before { content: '\f309'; } /* '' */
.s-ico-twitter-circled:before { content: '\f30a'; } /* '' */
.s-ico-facebook:before { content: '\f30c'; } /* '' */
.s-ico-facebook-circled:before { content: '\f30d'; } /* '' */
.s-ico-gplus:before { content: '\f30f'; } /* '' */
.s-ico-gplus-circled:before { content: '\f310'; } /* '' */
.s-ico-pinterest:before { content: '\f312'; } /* '' */
.s-ico-pinterest-circled:before { content: '\f313'; } /* '' */
.s-ico-tumblr:before { content: '\f315'; } /* '' */
.s-ico-tumblr-circled:before { content: '\f316'; } /* '' */
.s-ico-linkedin:before { content: '\f318'; } /* '' */
.s-ico-linkedin-circled:before { content: '\f319'; } /* '' */
.s-ico-dribbble:before { content: '\f31b'; } /* '' */
.s-ico-dribbble-circled:before { content: '\f31c'; } /* '' */
.s-ico-stumbleupon:before { content: '\f31e'; } /* '' */
.s-ico-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.s-ico-lastfm:before { content: '\f321'; } /* '' */
.s-ico-lastfm-circled:before { content: '\f322'; } /* '' */
.s-ico-rdio:before { content: '\f324'; } /* '' */
.s-ico-rdio-circled:before { content: '\f325'; } /* '' */
.s-ico-spotify:before { content: '\f327'; } /* '' */
.s-ico-spotify-circled:before { content: '\f328'; } /* '' */
.s-ico-soundcloud:before { content: '\f348'; } /* '' */